.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.filter-area {
    flex-shrink: 0;
}

.map-area {
    flex: 1;
}

.button-area {
    flex-shrink: 0;
}

/* 필터 */
.filter-area {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: 12px;
}